.jumbotron{
  text-align: center;
  background-color: #1CC3C1;
  color:white;
}
#form{
  width:60%;
  margin:auto;
}
.form-horizontal{
  font-size: 26px;
}
footer{
  margin-top: 50px;
  width:60%
  margin: auto;
  font-size: 16px;
  position: relative;
  top:407px;
}
#copyright{
  color: #0E5655;
  text-align: center;
  padding-top: 10px;
}
